    <section class="container">
        <div class="justify-center">
            <div class="flex justify-center shadow-lg m-10 p-15 w-2/5 rounded-lg object-left">
                <div class="object-centre justify-center">
                    <div class="object-centre justify-center">
                        <h2 class="text-xl underline">Sign Up</h2>
                        <h3>Email</h3>
                        <input class="border-solid border-2 border-slate-500 rounded-lg"></input>
                        <h3>Password (must be at least 8 characters long)</h3>
                        <input class="border-solid border-2 border-slate-500 rounded-lg"></input>
                        <button class="m-4 p-4 shadow-lg rounded-lg">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
    </section>