<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MixMate 🎶 </title>
    <link href="https://cdn.tailwindcss.com/nightwind/1.1.1/nightwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">

</head>
<body class="m-0 bg-gray-900 dark:bg-gray-900">
    {{> navbar}}

    {{{ body }}} {{!-- render handlebars main --}}


    {{> footer}}

    <script src="./js/index.js"></script>     

</body>
</html>