<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white shadow-md rounded px-8 py-6 w-96">
    <h2 class="text-2xl font-bold mb-4">Log in to your account</h2>
    <form>
      <div class="mb-4">
        <h3>Username</h3>
        <label class="block text-gray-700 font-bold mb-2" for="username">
          {{User.name}}
        </label>
        <input class="border rounded w-full py-2 px-3 text-gray-700" type="text" id="username" name="username">
      </div>
      <div class="mb-6">
        <label class="block text-gray-700 font-bold mb-2" for="email">
          {{User.email}}
        </label>
        <h3>Email</h3>
        <input class="border rounded w-full py-2 px-3 text-gray-700" type="text" id="email" name="email">
      </div>
      <div class="mb-8">
        <h3>Password</h3>
        <label class="block text-gray-700 font-bold mb-2" for="password">
          {{User.password}}
        </label>
        <input class="border rounded w-full py-2 px-3 text-gray-700" type="password" id="password" name="password">
      </div>
      <button
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        type="submit">
        Log in
      </button>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>