<div class="max-w-sm rounded overflow-hidden shadow-lg bg-gray-800 container mx-auto">
    <div class="px-6 py-4">



        <div class="max-w-md mx-auto bg-gray-900 rounded-xl shadow-md overflow-hidden">
            <!-- Card header -->
            <div class="bg-gray-700 px-6 py-4">
                <h2 class="text-lg font-medium text-white">Create New Playlist</h2>
            </div>

            <!-- Card body -->
            <div class="px-6 py-4">
                <form>

                    <!-- Text input field -->
                    <div class="mb-4">
                        <label class="block text-gray-300 font-bold mb-2" for="text-input">Playlist Name</label>
                        <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" id="playlist-name">
                    </div>
                    <!-- Playlist Genre -->
                    <div class="inline-block relative w-64">
                        <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Genre:</label>
                        <select class="block appearance-none w-full bg-gray-800 border border-gray-600 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                            <option>Genre 1</option>
                            <option>Genre 2</option>
                            <option>Genre 3</option>
                            <option>Genre 4</option>
                            <option>Genre 5</option>
                            <option>Genre 6</option>
                            <option>Genre 7</option>
                            <option>Genre 8</option>
                        </select>
                        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                            <svg class="fill-current h-4 w-4 text-gray-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12l-5-5 1.41-1.41L10 9.18l3.59-3.59L15 7l-5 5z"/></svg>
                        </div>
                        <br>

                        <!-- Textarea input field -->
                        <div class="mb-4">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Song:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Artist:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                        </div>
                        <!-- Textarea input field -->
                        <div class="mb-4">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Song:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Artist:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                        </div>      
                        <!-- Textarea input field -->
                        <div class="mb-4">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Song:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Artist:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                        </div>
                        <!-- Textarea input field -->
                        <div class="mb-4">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Song:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Artist:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                        </div>
                        <!-- Textarea input field -->
                        <div class="mb-4">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Song:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Artist:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                        </div>
                        <!-- Textarea input field -->
                        <div class="mb-4">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Song:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Artist:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                        </div>
                        <!-- Textarea input field -->
                        <div class="mb-4">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Song:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Artist:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                        </div>
                        <!-- Textarea input field -->
                        <div class="mb-4">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Song:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                            <label class="block text-gray-300 font-bold mb-2" for="textarea-input">Artist:</label>
                            <input class="border rounded w-full py-2 px-3 text-gray-300 bg-gray-800" type="text" class="song-name">
                        </div>


</div>

        <!-- Button to submit the form -->
        <div class="flex items-center justify-between">
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline dark:bg-gray-800 dark:hover:bg-gray-600" type="button" id="create-button">
            Create Playlist
          </button>
        </div>
      </form>
    </div>
  </div>
  
  
    </div>
  
    </div>
  </div>


  {{!-- <script src="/public/js/newplaylist.js"></script> --}}
  <script src="./js/newplaylist.js"></script>
  