<div class="max-w-sm rounded overflow-hidden shadow-lg bg-white dark:bg-gray-800 mx-auto">
  <div class="px-6 py-4">

    <div class="dark:text-white">
      <h4>You are viewing songs for playlist "{{playlist.playlist_name}}" on {{today_date}} </h4>
    </div>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4">
      {{#each playlist.Songs as |song|}}
      <div class="bg-gray-100 dark:bg-gray-700">

        <!-- Card header -->
        <div class="bg-gray-100 dark:bg-gray-700 px-6 py-4">
          <h2 class="text-lg font-medium text-gray-800 dark:text-white">{{song.song}} by {{song.artist}}</h2>
        </div>

      </div>
      {{/each}}
    </div>

  </div>
</div>
